<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>spring2</title>
</head>
<body>
	<h1>[ spring2 ]</h1>
	<ol>
	  <li> Lombok & Logger 
	  	<ul>
	  	<li><a href="lom/lombok">롬복테스트</a></li>
	  	<li><a href="lom/logger">로그 테스트</a></li>
	  	</ul>
	  </li>
	  <li> 서버와 값 주고받기 
	  	<ul>
	  		<li><a href="param/input1">POST로 parameter 전달 1</a></li>
	  		<li><a href="param/input2">POST로 parameter 전달 2</a></li>
	  		<li><a href="param/input3?name=abc&age=11">GET으로 parameter 전달</a></li>
	  		<li><a href="param/input3?name=abc">GET으로 parameter 전달</a></li>
	  		<li><a href="param/input3?age=11">GET으로 parameter 전달</a></li>
	  		<li><a href="param/model">모델</a></li>
	  	</ul>
	  </li>
	  <li> 세션 사용 
	  	<ul>

	  		<li th:if="${session.loginID != null}"><a href="ss/session1">세션에 저장</a></li>
	  		<li th:if="${session.loginID != null}"><a href="ss/session2">세션에서 읽기</a></li>
	  		<li th:if="${session.loginID != null}"><a href="ss/session3">세션에서 삭제</a></li>
	  		
	  		<li th:if="${session.loginID == null}"><a href="ss/login">로그인</a></li>
	  		<li th:if="${session.loginID != null}"><a href="ss/logout">로그아웃</a></li>
	  		<li th:if="${session.loginID != null}"><span th:text="${session.loginID}">id</span>님 접속중</li>
	  	</ul>
	  </li>
	  
	  <li> 쿠키 사용 </li>
	  <li> Thymeleaf 사용 
	  	<ul>
	  		<li><a href="th/thymeleaf1">연산자</a></li>
	  		<li><a href="th/thymeleaf2">반복문</a></li>
	  	</ul>
	  </li>
	  <li> 연습문제 
		<ul>
			<li><a href="ex/calc1">폼에 입력한 값 계산하기</a></li>
			<li><a href="ex/cookie">방문횟수 카운트</a></li>
			<!-- 
			처음 방문하는 경우는 입력폼을 보여주고 영문아이디를 입력받는다
			재방문하는 경우는 아이디와 방문횟수를 출력한다. 
			
			-->
			
		</ul>	  
	  </li>
	</ol>

</body>
</html>