<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.softsociety.spring3.dao.PersonDAO">
	<!-- 입력 -->
	<insert id="insertPerson" parameterType="Person">
		insert into person values (#{idnum}, #{name}, #{age})
	</insert>

	
</mapper>
