<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="net.softsociety.spring5.dao.BoardDAO">

<select id="getList" resultType="Board">
select boardnum, memberid, title, contents, hits, to_char(inputdate, 'yy/mm/dd') inputdate from spring5_board order by boardnum desc
</select>

<insert id="writeBoard" parameterType="Board">
insert into 
	spring5_board(
		boardnum
		, memberid
		, title
		, contents
		<if test="originalfile != null and savedfile != null">
		, originalfile
		, savedfile
		</if>
	)
values(
	spring5_board_seq.nextval, 
		#{memberid}
		, #{title}
		, #{contents}
		<if test="originalfile != null and savedfile != null">
		, #{originalfile}
		, #{savedfile}
		</if>
	)
</insert>

<select id="getBoard" parameterType="int" resultType="Board">
select * from spring5_board where boardnum = #{boardnum}
</select>

<update id="hitsCountUp" parameterType="int">
update spring5_board set hits = hits + 1 where boardnum = #{boardnum}
</update>

<delete id="deleteBoard" parameterType="map">
delete from spring5_board where boardnum=#{boardnum} and memberid=#{user}
</delete>

<update id="updateBoard" parameterType="Board">
update spring5_board
<trim prefix="SET" suffixOverrides=",">
	<if test="title != null and title != '' "> title = #{title}, </if>
	<if test="contents != null and contents != '' "> contents = #{contents}, </if>
</trim>
where boardnum = #{boardnum}
</update>

</mapper>