<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="net.softsociety.spring5.dao.BoardDAO">

<select id="getList" resultType="Board">
select boardnum, memberid, title, contents, hits, to_char(inputdate, 'yy/mm/dd') inputdate from spring5_board order by boardnum desc
</select>

<insert id="writeBoard" parameterType="Board">
insert into 
	spring5_board(
		boardnum
		, memberid
		, title
		, contents
		<if test="originalfile != null and savedfile != null">
		, originalfile
		, savedfile
		</if>
	)
values(
	spring5_board_seq.nextval, 
		#{memberid}
		, #{title}
		, #{contents}
		<if test="originalfile != null and savedfile != null">
		, #{originalfile}
		, #{savedfile}
		</if>
	)
</insert>

<select id="getBoard" parameterType="int" resultType="Board">
select * from spring5_board where boardnum = #{boardnum}
</select>

<update id="hitsCountUp" parameterType="int">
update spring5_board set hits = hits + 1 where boardnum = #{boardnum}
</update>

<delete id="deleteBoard" parameterType="map">
delete from spring5_board where boardnum=#{boardnum} and memberid=#{user}
</delete>

<update id="updateBoard" parameterType="Board">
update spring5_board
<trim prefix="SET" suffixOverrides=",">
	<if test="title != null and title != '' "> title = #{title}, </if>
	<if test="contents != null and contents != '' "> contents = #{contents}, </if>
	<if test="originalfile != null and originalfile != '' "> originalfile = #{originalfile}, </if>
	<if test="savedfile != null and savedfile != '' "> savedfile = #{savedfile}, </if>
</trim>
where boardnum = #{boardnum}
</update>

<select id="searchBoards" parameterType="hashmap" resultType="Board">
select 
	boardnum
	, memberid
	, title
	, to_char(inputdate, 'YYYY-MM-DD') inputdate
	, hits
from
	spring5_board
<where>
	<if test="type == 'title'">
		upper(title) like upper('%' || #{searchWord} || '%')
	</if>
	<if test="type == 'contents'">
		upper(contents) like upper('%' || #{searchWord} || '%')
	</if>
	<if test="type == 'memberid'">
		upper(memberid) like upper('%' || #{searchWord} || '%')
	</if>
	<if test="type == 'all'">
		upper(title) like upper('%' || #{searchWord} || '%')
		or upper(contents) like upper('%' || #{searchWord} || '%')
		or upper(memberid) like upper('%' || #{searchWord} || '%')
	</if>
</where>
order by boardnum desc
</select>

<select id="getTotal" parameterType="hashmap" resultType="int">
select count(*) from spring5_board
<where>
	<if test="type == 'title'">
		upper(title) like upper('%' || #{searchWord} || '%')
	</if>
	<if test="type == 'contents'">
		upper(contents) like upper('%' || #{searchWord} || '%')
	</if>
	<if test="type == 'memberid'">
		upper(memberid) like upper('%' || #{searchWord} || '%')
	</if>
	<if test="type == 'all'">
		upper(title) like upper('%' || #{searchWord} || '%')
		or upper(contents) like upper('%' || #{searchWord} || '%')
		or upper(memberid) like upper('%' || #{searchWord} || '%')
	</if>
</where>
</select>

<insert id="createReply" parameterType="Reply">
insert into spring5_reply(
		replynum
		, boardnum
		, memberid
		, replytext
	)
values (
		spring5_reply_seq.nextval
		, #{boardnum}
		, #{memberid}
		, #{replytext}
	)
</insert>

<select id="readAllReply" parameterType="int" resultType="Reply">
select
	replynum
	, boardnum
	, memberid
	, replytext
	, to_char(createdat, 'YYYY/MM/DD HH24:MI') createdat
from 
	spring5_reply
where
	boardnum = #{boardnum}
</select>

<delete id="deleteReply" parameterType="Reply">
delete from spring5_reply where replynum = #{replynum} and boardnum = #{boardnum}
</delete>

</mapper>