<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="net.softsociety.spring5.dao.MemberDAO">

<insert id="signUp" parameterType="Member">
insert 
	into spring5_member 
		(memberid, memberpw, membername, email, phone, address)
	values
		(#{memberid}, #{memberpw}, #{membername}, #{email}, #{phone}, #{address})
</insert>

</mapper>