<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[ spring4 - 방명록 ]</title>
<script>
	
</script>
</head>
<body>
	<h1>[ spring4 - 방명록 ]</h1>
	
	<p sec:authorize="isAuthenticated()">
		<span th:text="${#authentication.name}"></span>님 로그인중
		<a th:href="@{/member/logout}"><span>로그아웃</span></a>
	</p>
	<p sec:authorize="isAnonymous()">
   		<a th:href="@{/member/loginForm}">로그인</a>
   		<a th:href="@{/member/join}">회원가입</a>
	</p>
	
	<p sec:authorize="isAuthenticated()"><a th:href="@{/guestbook/insert}">글쓰기</a></p>
	<th:block th:each="item : ${list}">
		<hr />
		<h5 th:text="${item.num}"></h5>
		<p>작성자: <span th:text="${item.name}"></span></p>
		<p>작성일: <span th:text="${item.inputdate}"></span></p>
		<pre th:text="${item.message}"></pre>
		
		<form th:action="@{/delete}" method="post">
		<input type="hidden" name="num" th:value="${item.num}" />
		비밀번호 <input type="password" name="password" id="password" />
		<input type="submit" value="삭제"/>
		</form>
		<hr />
	</th:block>
</body>
</html>