<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>방명록</title>
<script>
	const loggedpw = document.getElementById("hiddenpw").value;
	alert(loggedpw);
</script>
</head>
<body>
	<h1>글쓰기</h1>
	<form th:action="@{/guestbook/insert}" method="post">
		<table>
			<tr sec:authorize="isAnonymous()">
				<th>이름</th>
				<td>
					<input  type="text" name="name" id="name" maxlength="10" required />
					
				</td>
			</tr>
			<tr sec:authorize="isAnonymous()">
				<th>비밀번호</th>
				<td>
					<input type="password" name="password" maxlength="10" id="password" required />
				</td>
			</tr>
			<tr>
				<th>내용</th>
				<td>
					<textarea name="message" id="message" required ></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="저장"/>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>