<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Spring5</title>
</head>
<body>
	<h1>spring5</h1>
	
	<p sec:authorize="isAuthenticated()">
		<span th:text="${#authentication.name}"></span>님 로그인중
	</p>
	
	<p><a th:href="@{/member/join}">회원가입</a></p>
	<p><a th:href="@{/member/loginForm}">로그인</a></p>
	<p><a th:href="@{/member/logout}">로그아웃</a></p>
	<p><a th:href="@{/member/updateForm}">개인정보수정</a></p>
	<p><a href="">게시판</a></p>
</body>
</html>