<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>프로필 수정</title>
<link rel="stylesheet" th:href="@{/css/signup.css}" />
<script>
function checkpw(){
	const pw1 = getElementById("pw1").value;
	const pw2 = getElementById("pw2").vlaue;
	console.log("pw1: ", pw1, "\npw2: ", pw2);
	if(pw1 !== pw2) {
		return false;
	}
	return true;
}
function inputAddress(){
	window.open('inputaddress', 'addresswin', 'width=500, height=500, top=400, left=800');
}
</script>
</head>
<body>
	<form th:action="@{/users/update}" method="POST" class="joinForm">
    <h2>회원가입</h2>
       <div class="textForm">
        <input name="email" type="text" class="signupinput" placeholder="이메일" />
      </div>
      <div class="textForm">
        <input name="phone" type="tel" class="signupinput" placeholder="전화번호" />
      </div>
      <div class="textForm" onclick="inputAddress()">
        <input id="address" name="address" type="text" class="signupinput" placeholder="주소" readonly/>
      </div>
      <input type="submit" class="btn" value="U P D A T E" onclick="return checkpw()"/>
    </form>
</body>
</html>